body,html{
  margin: 0;
  padding: 0;
  background-image: url("static/brandon-vazquez-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg,red,deeppink);
}
